.setpassword {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setpassword h1 {
  font-size: 22px;
  font-weight: bold;
}

.setpassword p {
  font-size: 13px;
}

.setpassword form {
  width: 400px;
  box-shadow: 0 0 3px gray;
  padding: 20px;
}

.setpassword button {
  background-color: black;
  box-shadow: none;
  outline: none;
  border: none;
}

.setpassword .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setpassword input {
  box-shadow: none;
  outline: none;
  border: 1px solid gray;
}

.setpassword input:hover {
  border: 1px solid gray;
}

.setpassword input:focus {
  border: 1px solid gray;
}

.validationTitle {
  font-weight: bold;
}

.resetPasswordValidationInfoBox > p.validationRuleTxt {
  display: flex;
  align-items: center;
}

.resetPasswordValidationInfoBox > .validationRuleTxt img {
  margin-right: 5px;
}
