@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --white: #ffffff;
}

body {
  font-size: 10px;
  overflow: hidden;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border-radius: 8px !important; 
}

h1 {
  font-size: 2rem;
} */
