.logo {
  display: flex;
}

.logo span {
  font-size: 2rem;
  color: var(--white);
  font-weight: 300;
  padding-left: 1.6rem;
}

.headercontainer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  height: auto !important;
  padding: 0 !important;
}

.rightlayout {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-right: 1.2rem;
  grid-template-columns: auto auto;
  grid-gap: 1.6rem;
}

.avatar {
  cursor: pointer;
  background-color: #f56a00 !important;
  vertical-align: middle;
}

.admin {
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--white);
}
