.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.userTable {
  width: 100%;
  padding: 0 1px;
}

.userEdit {
  cursor: pointer;
  color: steelblue;
}
.userDelete {
  cursor: pointer;
  color: red;
}

.buttoncontainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 2px;
  margin-bottom: 10px;
}

.editModalElement :global(.ant-select-selector) {
  border-radius: 8px !important;
}
