.tableHead td,
.tableHead th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tableHead tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tableHead tr:hover {
  background-color: #ddd;
}

.tableHead th {
  text-align: left;
  background-color: #1890ff;
  color: white;
}

.initialHeader {
  width: 10rem;
}

.columnHeader {
  display: flex;
}

.columnError {
  color: red;
  font-size: 12px;
}

.saveButton {
  display: flex;
  margin-left: auto;
}
