.forgotpassword {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgotpassword h1 {
  font-size: 22px;
  font-weight: bold;
}

.forgotpassword p {
  font-size: 13px;
}

.forgotpassword form {
  width: 400px;
  box-shadow: 0 0 3px gray;
  padding: 20px;
}

.forgotpassword button {
  background-color: black;
  box-shadow: none;
  outline: none;
  border: none;
}

.forgotpassword .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgotpassword input {
  box-shadow: none;
  outline: none;
  border: 1px solid gray;
}

.forgotpassword input:hover {
  border: 1px solid gray;
}

.forgotpassword input:focus {
  border: 1px solid gray;
}
