.logincontainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./bg.jpeg");
}

.input {
    width: 25rem;
    margin-bottom: 1.2rem;
}

.header h1 {
    text-align: center;
    font-weight: 600;
}

.login {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 8px;
    height: 300px;
    align-items: center;
    height: 300px;
    justify-content: center;
    background: white;
}